extends ../layout

block content
  h1= title
  nav
    li
      a(href='admin/news/add') Dodaj artykuł
  p Welcome to #{title}
  table
    tr
      th id
      th tytuł
      td data dodania
      th akcja
    each item, index in data
      tr
        td=index
        td=item.title
        td=item.created       
        td
          a(href=`/admin/news/delete/${item._id}`) Usuń

